@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

body {
  font-family: "Montserrat", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /*backgroud*/
  --backgroundPrimary: #0061df;

  /* padding */
  --padding: 0 130px
}

.subTitle {
  color: #0d263b;
  font-family: "Monserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.title {
  color: #0d263b;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
}